#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#call-to-action {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#call-to-action .main-title {
    font-size: 4rem;
    color: var(--color-neutral-1);
    ;
}

#call-to-action .main-title span {
    color: var(--color-primary-5);
}

#call-to-action .main-description {
    font-size: 1.2rem;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

#shape {
    color: var(--color-primary-2);
    /* Cor do ícone */
    font-size: 1050px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}