#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#call-to-action {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#call-to-action .main-title {
    font-size: 4rem;
    color: var(--color-neutral-1);
}

#call-to-action .main-title span {
    color: var(--color-primary-5);
}

#call-to-action .main-description {
    font-size: 1.2rem;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

#shape {
    color: var(--color-primary-2);
    font-size: 1050px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1919px) {
    #banner {
        width: 70%;
    }

    #banner img {
        height: 60%;
    }

    #shape {
        font-size: 600px;
    }

    #call-to-action .main-title {
        font-size: 2.2rem;
    }

    #call-to-action .main-description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1020px) {
    #home {
        display: flex;
        min-height: 0;
        position: relative;
    }
    #banner {
        display: none;
    }
    #banner img {
        display: none;
    }
    #shape {
        display: none;
    }
    #call-to-action {
        width: 100%;
        gap: 10px;
    }
    #call-to-action .main-title {
        font-size: 1.4rem;
        text-align: center;
    }
    #call-to-action .main-description {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #call-to-action .main-title {
        font-size: 1rem;
    }

    #call-to-action .main-description {
        font-size: 0.8rem;
    }
}