@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('footer.css');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #FFBF69;
    --color-primary-3: #E99B2F;
    --color-primary-4: #f8d477;
    --color-primary-5: #ffcb45;
    

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.button-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.button-default:hover {
    background-color: var(--color-primary-4);
}

.section-title {
    color: var(--color-primary-5);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
} 

@media screen and (max-width: 1020px) {
    section {
        padding: 14px;
    }

    .section-title {
        font-size: 1.2rem;
    }
    
    .section-subtitle {
        font-size: 1rem;
        text-align: center;
    }  
}

@media screen and (max-width: 600px) {
    .section-title {
        font-size: 1rem;
    }
    
    .section-subtitle {
        font-size: 1rem;
        
    }   
}